name: CI / CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: wordguesser-ci:latest
          load: true

      - name: Save image as artifact
        run: docker save wordguesser-ci:latest -o image.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-image
          path: image.tar
  rspec:
    name: RSpec
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: app-image
          path: .

      - name: Load Docker image
        run: docker load -i image.tar

      - name: Run RSpec inside container
        run: |
          docker run --rm \
            -e RACK_ENV=test -e RAILS_ENV=test \
            -v ${{ github.workspace }}:/app \
            wordguesser-ci:latest \
            bash -lc "bundle exec rspec"